#container{
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    height:auto;
    background-color: #f5f7f7;
}
#leftbox{
    width: 25%;
    height: 450px;
    margin: 15px;
    background-color: white;
}
#rightbox{
    /* border: 0.5px solid purple; */
    width: 70%;
   margin: 15px;
   background-color: white;
}
#product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 30px;

}
#product >div{
    height: auto;
    width: auto;
    /* border: 0.5px solid greenyellow; */
    justify-content: space-around; 
    margin: auto;
    cursor: pointer;
}
#topright{
    width: 97%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    
}
#sortit{
    border: 0.5px solid #ebebeb;
    width: 200px;
    height: 30px;
    margin-top: 25px;
    padding: 5px ;
    border-radius: 5px;
}

#selection{
    border: none;
    font-size: 13px;
}
.image{
    height: 170px;
    width: 170px;
    padding-left: 20px;
    margin-bottom: 10px;
}
#product p {
    margin-top: -10px;
}
#pname{
    font-size: 15px;
    color: #666;

}
#originalPrice{
    font-size: 18px;
    font-weight: 600;

}
#discountPrice{
    color: #e94c24;
    font-size: 13px;
    font-weight: 600;
    padding-right: 4px;

}
#givencashback{
    color: #666;
    font-size: 12px;

}
#topbar{
    display: flex;
}
#topbar h1 {
    color: #222222;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
}
.h1span{
    color: #999999;
    font-size: 20px;
   margin: auto;
   margin-left: 5px;
   margin-top: 26px;
}
#topleft{
    padding: 20px;
    /* border: 0.5px solid rgb(33, 238, 43); */
}
.deals> a{
    text-decoration: none;
    line-height: 30px;
    color: #999999;
    font-weight: 600;
}
.apparels{
    margin: 10px 20px 20px;
    font-weight: 600;
}
.pricebrand{
    font-weight: 600;
}
.pricing{
    display: flex;
   gap: 40px;
   /* border: 1px solid orange; */
}
.pricing input{
    width: 30%;
    height: 25px;
    margin-left: 0px;
      
}
#bottomleft{
    padding: 20px;

}
#bottomleft #leftprice{
    margin-top: -40px;
}
.checkbrand{
    color: #999999;
    
}
.productcount{
    margin-left: 180px;
}
*{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif; 
}

.sliderbox{
    height: 20px;
   width: 80%; 
   margin-bottom: 30px;
 
}
#slider{
    width: 100%;
    margin-left: 30px;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    /* width: 25px;
    height: 25px;
    background: green; */

}
#slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
}
